<div class="row">
<div class="NavigationBar container" id="NavY">
  <nav>
    <div class="logo">
      <a href="home"><%= image_tag 'logo3.png'%></a>
    </div>

    <ul>
      <li><a href="home" style="font-weight:bold;">Home</a></li>
      <li><a href="about">About</a>
        <!--<ul>
                <li><a href="About.html/#What_is_Yadawy?">What is Yadawy?</a></li>
                <li><a href="#OurTeam">Out Team</a></li>
                <li><a href="#Mission">Mission</a></li>
        </ul>-->
      </li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Brands</a></li>
      <li><a href="../contacts/new">Contact Us</a></li>
      <% if buyer_signed_in? %>
        <li>  <%=fa_icon "cart-plus 9x" , class: " fas fa-cart-plus fa-3x" , style: "color:turquoise; margin: 20px"%></li>

        <li> <%= current_buyer.email %> </li>
        <li>  <%= image_tag 'randomavatar.png',size:'70x70' %></li>
        <li><%= link_to "Logout",destroy_buyer_session_path, method: :delete %></li>
      <%elsif seller_signed_in? %>

          <li>  <%= content_tag :span, "   ", class:"fa fa-envelope fa-2x"  %></li>
        <li>
        <%= content_tag :span, "   ", class:"fa fa-bullhorn fa-2x" , :style=>"color:black" %>
        </li>

        <li>  <%= image_tag 'randomavatar.png',size:'60x60' %></li>
        <li><%= link_to "Logout",destroy_seller_session_path, method: :delete %></li>
      <% else %>
      <li><a class="active" href="login">Log in</a></li>
      <li><a class="active" href="signup">Sign Up</a></li>
      <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></li>
    <% end  %>
    </ul>

  </nav>
</div>
</div>