<%= render 'static_pages/navigation' %>

  <img src="Img/Login.jpg" class="backgroundImage">

  <div class="header-overlay"></div>

  <div class="loginDiv">
    <img src="Img\user.png" class="user">

    <h2>Log In</h2>

      <% form_for(:user,url:sessions_path) do |f|%>
      <div class="field"><%= f.label :name %><br/><%= f.text_field :username %></div>
      <p/>
      <div class="field"><%= f.label :password %><br/><%= f.password_field :password %></div>
      <div class="actions"><%= f.submit "Login" %></div>
      <a href="#">Forgot Password?</a>
       <%end%>

  </div>
  <div>
    Don't have an account?
    <a href="#">Create New Account.</a>
  </div>