<article>
  <div class="row cardpanel">
    <div class="col-4-sm">
      <div class="card sadmincard" style="width: 20rem;">
        <div class="card-body">
          <h4><span><%= fa_icon "money-bill 9x" , class: " fas fa-money fa-2x" , style: "color:green; margin: 20px ; " %></span>
          <%= number_to_currency(150000) %>
          </h4>
          <div style="text-align: right; font-weight: 400; color: #99abb4">
            floos
          </div>
        </div>
      </div>

    </div>
    <div class="col-4-sm">
      <div class="card sadmincard" style="width: 20rem;">
        <div class="card-body">
          <h4><span><%= fa_icon "money-bill 9x" , class: " fas fa-money fa-2x" , style: "color:green; margin: 20px" %></span>
            <%= number_to_currency(150000) %>
          </h4>
        </div>
      </div>

    </div>
    <div class="col-4-sm">
      <div class="card sadmincard" style="width: 20rem;">
        <div class="card-body">
          <h4><span><%= fa_icon "money-bill 9x" , class: " fas fa-money fa-2x" , style: "color:green; margin: 20px" %></span>
            <%= number_to_currency(150000) %>
          </h4>
        </div>
      </div>

    </div>
  </div>
  <div></div>


</article>