<p id="notice"><%= notice %></p>

<h1>Sellerinfos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellerinfos.each do |sellerinfo| %>
      <tr>
        <td><%= link_to 'Show', sellerinfo %></td>
        <td><%= link_to 'Edit', edit_sellerinfo_path(sellerinfo) %></td>
        <td><%= link_to 'Destroy', sellerinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sellerinfo', new_sellerinfo_path %>
