
<p id="notice "><%= notice  %></p>
<div class="">
  <%= image_tag 'searchpagel.jpg',class:"img-fluid" %>
</div>
<%= form_tag products_path, :method =>'get' do %>
 <div class=" searchcontainer ">
   <div class="row">
      <div class="input-group mb-3 col-6">
      <%=text_field_tag :search, params[:search], class:"form-control", type:"text" %>

      </div>
      <div class="col-auto">
      <%= submit_tag "Search", class:"btnw btn-primary" %>
      </div>
    </div>
 </div>
<% end  %>



  <div class="card-deck">
    <div class="card-columns">


    <% @products.each do |product| %>


      <div class="card">
        <% if product.image? %>
          <%= image_tag product.image.url(:productimage),class: "card-img-top",size:"204x204" %>
        <% else %>
          <%= image_tag 'No_Image_Available.jpg',class: "card-img-top",size:"204x204" %>
        <%end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <%= sanitize(product.specs) %>
          <div class="price">
          <h3><%= number_to_currency(product.price) %></h3>

        </div>
        </div>

        <div class="card-footer">
          <span><%= button_to 'Add to Cart', line_items_path(product_id: product),class:"btn btn-primary" ,style:"width:auto;float:left;margin: 0 30px 0 30px"%></span>
          <span>  <%= button_to 'show',  product , class:"btn btn-info",:method => :get,style:"width:auto;"%></span>
        </div>
      </div>

    <% end %>
      </div>
  </div>


</table>

<br>

<%= link_to 'New Product', new_product_path %>
</div>
