<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'boot', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'contacts', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'static_pages', media:'all' ,'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'main', media:'all' ,'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'util', media:'all' ,'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'products', media:'all', 'data-turbolinks-track' =>true%>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="overlay" >
</div>
<%= render 'static_pages/navigation' %>
<%= yield %>

</body>
</html>
