<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'boot', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'contacts', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'static_pages', media:'all' ,'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'main', media:'all' ,'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'util', media:'all' ,'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'products', media:'all', 'data-turbolinks-track' =>true%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'sadmin', media: 'all', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'static_pages/navigation' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2 ">
    <%= render 'sadmin/sidebar' %>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-11 col-xl-10">
      <div class="injector">
    <%= yield %>
      </div>

    </div>
  </div>
</div>


</body>
</html>
