
<!DOCTYPE html>

<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'boot',media:'all','data-turbolinks-track' => true  %>
  <%= stylesheet_link_tag 'static_pages', media:'all' ,'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'static_pages/navigation' %>
<p id="notice"><%= notice%></p>
<%= yield %>

<section class="section section-b">
  <h6>Copyright © 2018 Yadawy Inc. All rights reserved.</h6>
</section>
</body>
</html>
